 

.Container{
    display: flex;
    height: 11vh;
    justify-content: end;
    background-color: #000;
    font-family: Saira, sans-serif;
    border-bottom: 1px solid #1f2222;
    width: 100%;
    
    

}

.Container ul {
    display: flex;
   
    width: 35%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    font-size: 17px;
    margin-right: 150px;
    color: #fff;
}


.divisao{
    position: relative;
    display: block;
    padding-bottom: 3px;
   
    
}

.divisao::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: blue;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #69e678 33%, #29ccc4 66%, #17161d 100% );
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    
}

.divisao:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
    
}
