.Container{
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.areaProject{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

 