.Container{
    width: 100%;
    height: 100%;
    
  
    
}

.areaProject{
  
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
     padding: 15px;
     width: 100%;
     height: 100%;
     /* border: 1px solid red; */
      overflow: auto;
    
}

.projects{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    max-width: 1400px;
    height: 620px;
    margin-top: 30px;
 
    align-items: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* overflow-y: hidden; */
    /* border: 1px solid red; */
    /* max-height: 100px; */
    /* overflow: auto; */
  
     
    
}

.test{
 
    height: 260px;
    width: 430px;
    /* border-radius: 20px; */
    /* border: 11px solid red; */
    margin-bottom: 50px;
}

 
